body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

#container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: rgb(252, 242, 105);
  border-radius: 8px;
}